flask==3.0.3
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
flask-mail==0.10.0
wtforms==3.1.2
email-validator==2.1.1
werkzeug==3.0.3
scikit-learn==1.4.2
nltk==3.8.1
numpy==1.26.4
joblib==1.4.2
pandas==2.2.2
matplotlib==3.9.0
reportlab==4.2.2
bleach==6.1.0
cryptography==42.0.8
python-dotenv==1.0.1
twilio==9.4.0
